.layout {
    display: flex;
    flex-wrap: wrap;
}

.widget-box {
    margin: 20px;
    padding: 20px;
}

.title {
    font-size: 1.5em;
    padding: 5px;
}

.delete {
position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  z-index: 10;
  top: 0;
  right: 0;
  cursor:pointer;
  transform: rotate(270deg);
}

.add {
    position: absolute;
    top: 5px;
  right: 5px;
  width: 100px;
  height: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: darkgrey;
}