abbr{
  text-decoration: underline;
}
.react-calendar__navigation {
  .react-calendar__navigation__arrow {
      display: none;
  }

  .react-calendar__navigation__label {
      font-size: 2em;
      font-weight: bold;
  }
}

.react-calendar__tile {
  height: 4em;
}

.react-calendar__month-view__weekdays__weekday {
  font-size: 1.3em;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #006edc;
}

.react-calendar__tile,
.react-calendar__month-view__days__day {
  font-size: 1.2em;
}
.calendar {
    input, button {
      font: inherit;
    }
  
    header {
      background-color: rgb(50, 54, 57);
      box-shadow: 0 0 8px rgba(0, 0, 0, .5);
      padding: 20px;
      color: white;
  
      h1 {
        font-size: inherit;
        margin: 0;
      }
    }
  
    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      margin: 10px 0;
      padding: 10px;
  
      & > * {
        & > * {
          margin: 10px;
        }
      }
  
      &__content {
        display: flex;
        max-width: 100%;
        flex-basis: 420px;
        flex-direction: column;
        flex-grow: 100;
        align-items: stretch;
        padding-top: 1em;
  
        .react-calendar {
          margin: 0 auto;
        }
      }
    }
  }